@model IEnumerable<Persona>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Acceder a Google <a href="https://www.google.com"> para buscar</a>.</p>
</div>

<div>
    @foreach(Persona persona in Model)
            {
                <p>
                    @persona.NombreCompleto
                </p>
            }
</div>